<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <input id="input" type="password">
    <button onclick="stop()">Stop server</button>
    <button onclick="start()">Start server</button>
    <button onclick="newMsg()">Create new announcement</button>
    <p id="requests">Requests since server start: <%= requests %></p>
    <%- include("dev.js.ejs"); %>
</body>
</html>