<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("feed.css.ejs"); %>
    
</head>
<body>
    <div class="page">
        <div class="header">
            <h1 class="title">WeirdWebForum - feed</h1>
            <button class="back" onclick="back()">Back</button> 
        </div>
        <div class="messageContainer" id="messageContainer">

        </div>
        <div class="footer">
            <button class="createPost" onclick="createPost()">Create post</button>
        </div>
    </div>
    <%- include("feed.js.ejs"); %>
</body>
</html>